extends partial

block content
	.container
		.row
			form.form
				.form-group
					label(for="email") Email Address
					input.form-control(type="email" name="email")
				button.btn.btn-primary(type="submit")